<% %>
<h1>Login</h1>
<%= form_tag :action => "sign_on" %>
<table>
  <tr>
    <td>Email:</td>
    <td><%= text_field 'person', 'email' %>
  </tr>
  <tr>
    <td>Passwort:</td>
    <td><%= password_field 'person', 'password' %></td>
  </tr>
</table>

<%= submit_tag 'Login' %>
<%= end_form_tag %>
<hr />
<%= link_to 'Passwort vergessen', :action => 'revoke_pass'  %> |
<%= link_to 'Registrieren', :action => 'register' %>
