
<table>
  <tr>
    <th>Netz IP</th>
    <th>Netmask</th>
    <th>Kommentar</th>
  </tr>
  <% @nets.each do |net| %>
  <tr>
    <td><%= net.netip %></td>
    <td><%= net.netmask %></td>
    <td><%= net.comment %></td>
  </tr>
  <% end %>
</table>
<p></p>
