Neues Passwort:
---------------

Person: <%= @person.firstname + ' ' + @person.lastname %>
Email: <%= @person.email %>
neues Passwort: <%= @password %>

mfg
Funkfeuer Graz Admin

-- 
admin@graz.funkfeuer.at
http://graz.funkfeuer.at

