<html>
<head>
  <title>Location: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p class="green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
