<html>
<head>
  <title>Wlparm: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<p class="green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
